<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAILY JOURNAL</title>

    <!-- CSS DEFINATION STARTS-->
    <link rel ="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel ="stylesheet" href = "/style/main.css" />
    <!-- CSS DEFINATION ENDS-->

    <!-- NAVBAR STARTS-->
    <nav class = "navbar navbar-expand-lg custom_navbar py-4 mb-3">
        <div class = "container-fluid">
            <div class = "navbar-left" id = "navbarNavAltMarkup">
                <a class="navbar-brand text-secondary">DAILY JOURNAL</a>
            </div>
         <!-- NAV ITEMS STARTS-->
          <div class = "navbar-right" id = "navbarNavAltMarkup">
            <div class = "navbar-nav">
              <a class = "nav-link" href="/"> HOME </a>
              <a class = "nav-link" href="/about"> ABOUT US </a>
              <a class = "nav-link" href="/contact"> CONTACT US </a>
            </div>
          </div>
         <!-- NAV ITEMS ENDS-->
        </div>
    </nav>
    <!-- NAVBAR ENDS-->
</head>
<body>