<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function (){
    
        /* SELECT ALL ELEMENTS WITH CLASS */
        $('.nav-link').mouseenter(function () {
            /* DEFINE EVENT BEHAVIOR (MOUSEOVER) */
            $(this).removeClass('text-secondary');
            $(this).addClass('nav_hover');
        });
        $('.nav-link').mouseleave(function () {
            /* DEFINE EVENT BEHAVIOR (MOUSEOUT) */ 
            $(this).removeClass('nav_hover');
            $(this).addClass('text-secondary');
        });

        /* SELECT ALL ELEMENTS WITH ID */
        $('#textTitleBox').on('input',function () {
            if($(this).val().trim() !== '')
            {
                /* DEFINE EVENT BEHAVIOR (INPUT TEXT) */
                $(this).addClass('bg-yellow');
                $(this).removeClass('bg-white');
            }
            else
            {
                /* DEFINE EVENT BEHAVIOR (NO INPUT TEXT) */
                $(this).addClass('bg-white');
                $(this).removeClass('bg-yellow');
            }
        });

        /* TRUNCATE STRINGS FOR BODY */
        $('.truncate').each(function(){
            let fullString  = $(this).text();
            let truncString = truncateString(fullString , 150);
            $(this).html(truncString + '<a class = "readMoreLink no-underline" href="<% urlBase %>/posts/<% post.title %>" >Read More</a>');
            
        });

        /* TRUNCATE STRINGS FOR GIVEN LEN */
        function truncateString(string, maxLen)
        { 
            return (string.slice(0,maxLen) + "...");
        } 

        /* SELECT ALL ELEMENTS WITH CLASS */
        $('.readMoreLink').mouseenter(function () {
        /* DEFINE EVENT BEHAVIOR (MOUSEOVER) */
        $(this).removeClass('no-underline');
        $(this).addClass('underline');
        });
        $('.readMoreLink').mouseleave(function () {
            /* DEFINE EVENT BEHAVIOR (MOUSEOUT) */ 
            $(this).removeClass('underline');
            $(this).addClass('no-underline');
        });

        function readMoreClick(baseUrl, postTitle) {
            var newUrl = baseUrl + "/" + postTitle;
            window.location.href = newUrl;
        }
    });
</script>