:root
{
    --bgnd: #FAF3F0
}
.custom_navbar
{
    background-color: var(--bgnd);
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    letter-spacing: 2px;
}
.nav_hover
{
    color: #35A29F !important;
}
.main_container
{
   padding-left: 5rem !important;
   padding-right: 5rem !important;
   margin-top: 7.5%;
   text-align: justify;
   min-height: 90vh;
}
.custom_footer_container
{
   
    margin-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    bottom: 0%;
}
.custom_footer
{
    background-color: var(--bgnd);
    margin-bottom: 0px !important;  
    padding-left: 5rem;
    width: 100%;
}
.txtBoxTitleIp
{
    width: 100%;
}
.bg-yellow
{
    background-color: yellow;
}
.bg-white
{
    background-color: white;
}
.txtAreaIp
{
    width: 100%;
}
.no-underline 
{
    text-decoration: none;
}
.underline 
{
    text-decoration: underline;
}